<a href="https://colab.research.google.com/github/rishabh-0042/American_Express_Hackathon_25-2025/blob/main/Combining_DataFrames_Train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Load the dataframe
f42to57_train = pd.read_parquet('/content/drive/MyDrive/Transformed_Train_Data/f42to57_train.parquet')

# Calculate the null percentage for each column
null_percentage = f42to57_train.isnull().sum() / len(f42to57_train) * 100

# Display the null percentages
print("Null percentage for each column:")
print(null_percentage)

Null percentage for each column:
id2          0.0
f43          0.0
f44          0.0
f45          0.0
f46          0.0
f47          0.0
f49          0.0
f51          0.0
f42_G        0.0
f42_P        0.0
f42_R        0.0
f42_S        0.0
f48_1.0      0.0
f48_2.0      0.0
f48_3.0      0.0
f48_4.0      0.0
f50_N        0.0
f50_Y        0.0
f52_N        0.0
f52_Y        0.0
f53_NN       0.0
f53_NY       0.0
f54_A        0.0
f54_C        0.0
f54_D        0.0
f54_E        0.0
f54_F        0.0
f54_Other    0.0
f55_-        0.0
f55_A        0.0
f55_C        0.0
f55_D        0.0
f55_H        0.0
f55_I        0.0
f55_M        0.0
f55_Other    0.0
f55_T        0.0
f55_W        0.0
f56_B        0.0
f56_D        0.0
f56_G        0.0
f56_S        0.0
f57_A        0.0
f57_H        0.0
f57_Other    0.0
f57_P        0.0
dtype: float64

In [3]:
import os
import pandas as pd

directory_path = '/content/drive/MyDrive/Transformed_Train_Data'
loaded_dataframes = {}

# List files in the directory
file_list = os.listdir(directory_path)

print(f"Loading files from: {directory_path}")

# Iterate through the files and load them
for filename in file_list:
    file_path = os.path.join(directory_path, filename)
    name, extension = os.path.splitext(filename)

    try:
        if extension == '.csv':
            loaded_dataframes[name] = pd.read_csv(file_path)
            print(f"Loaded {filename} as a CSV.")
        elif extension == '.parquet':
            loaded_dataframes[name] = pd.read_parquet(file_path)
            print(f"Loaded {filename} as a Parquet file.")
        else:
            print(f"Skipped {filename}: Unsupported file type.")
    except Exception as e:
        print(f"Error loading {filename}: {e}")

# List the names of the loaded dataframes
print("\nLoaded dataframes:")
for df_name in loaded_dataframes.keys():
    print(df_name)

Loading files from: /content/drive/MyDrive/Transformed_Train_Data
Loaded f310tof314_train_processed.parquet as a Parquet file.
Loaded f315tof319_train_processed.parquet as a Parquet file.
Loaded f320tof324_train_processed.parquet as a Parquet file.
Loaded f325to328_train_processed.parquet as a Parquet file.
Skipped .ipynb_checkpoints: Unsupported file type.
Loaded f329to331_train_processed.parquet as a Parquet file.
Loaded f332to334_train_processed.parquet as a Parquet file.
Loaded train_data_f336to340_imputed.parquet as a Parquet file.
Loaded f341to343_train_processed.parquet as a Parquet file.
Loaded f344to346_train_processed.parquet as a Parquet file.
Loaded f351to357_train_processed.parquet as a Parquet file.
Loaded f354_train_encoded.parquet as a Parquet file.
Loaded f359to366_train_processed.parquet as a Parquet file.
Loaded f347_348_358_train_processed.parquet as a Parquet file.
Loaded f349_350_train_processed.parquet as a Parquet file.
Loaded f58to309_train.parquet as a Parquet file.
Loaded f1to41_train.parquet as a Parquet file.
Loaded f42to57_train.parquet as a Parquet file.

Loaded dataframes:
f310tof314_train_processed
f315tof319_train_processed
f320tof324_train_processed
f325to328_train_processed
f329to331_train_processed
f332to334_train_processed
train_data_f336to340_imputed
f341to343_train_processed
f344to346_train_processed
f351to357_train_processed
f354_train_encoded
f359to366_train_processed
f347_348_358_train_processed
f349_350_train_processed
f58to309_train
f1to41_train
f42to57_train

In [4]:
# Rename the dataframes in the dictionary
renamed_dataframes = {}
for name, df in loaded_dataframes.items():
    # Assuming the naming convention is consistent, we can extract the relevant part
    # This is a simplified approach and might need adjustment based on actual filenames
    new_name = name.replace('_processed', '').replace('_imputed', '').replace('_encoded', '')
    renamed_dataframes[new_name] = df

# Update the loaded_dataframes dictionary with the renamed dataframes
loaded_dataframes = renamed_dataframes

# List the names of the renamed dataframes
print("Renamed dataframes:")
for df_name in loaded_dataframes.keys():
    print(df_name)

Renamed dataframes:
f310tof314_train
f315tof319_train
f320tof324_train
f325to328_train
f329to331_train
f332to334_train
train_data_f336to340
f341to343_train
f344to346_train
f351to357_train
f354_train
f359to366_train
f347_348_358_train
f349_350_train
f58to309_train
f1to41_train
f42to57_train

In [6]:
# Drop 'id2' column from f42to57_train
f42to57_train_dropped_id2 = f42to57_train.drop('id2', axis=1)

# Display shape after dropping column
print("Shape of f42to57_train after dropping 'id2':", f42to57_train_dropped_id2.shape)

# Merge f42to57_train_dropped_id2 with f1to41_train
merged_df = pd.merge(loaded_dataframes['f1to41_train'], f42to57_train_dropped_id2, left_index=True, right_index=True)

# Display shape after merging
print("Shape of merged dataframe:", merged_df.shape)

Shape of f42to57_train after dropping 'id2': (770164, 45)
Shape of merged dataframe: (770164, 77)

In [7]:
# Add the merged dataframe to the loaded_dataframes dictionary with the new name
loaded_dataframes['f1to57_train'] = merged_df

# Display the names of the updated loaded dataframes
print("Updated loaded dataframes:")
for df_name in loaded_dataframes.keys():
    print(df_name)

Updated loaded dataframes:
f310tof314_train
f315tof319_train
f320tof324_train
f325to328_train
f329to331_train
f332to334_train
train_data_f336to340
f341to343_train
f344to346_train
f351to357_train
f354_train
f359to366_train
f347_348_358_train
f349_350_train
f58to309_train
f1to41_train
f42to57_train
f1to57_train

In [8]:
# Get the dataframes from the dictionary
f58to309_train_df = loaded_dataframes['f58to309_train']
f1to57_train_df = loaded_dataframes['f1to57_train']

# Identify the ID column to drop
id_column_to_drop = None
if 'id2' in f58to309_train_df.columns:
    id_column_to_drop = 'id2'
elif 'id3' in f58to309_train_df.columns:
    id_column_to_drop = 'id3'
else:
    print("Neither 'id2' nor 'id3' found in f58to309_train.")

if id_column_to_drop:
    # Display shapes before dropping
    print("Shape of f58to309_train before dropping 'id' column:", f58to309_train_df.shape)
    print("Shape of f1to57_train before merging:", f1to57_train_df.shape)

    # Drop the identified ID column
    f58to309_train_dropped_id = f58to309_train_df.drop(id_column_to_drop, axis=1)

    # Display shape after dropping
    print(f"Shape of f58to309_train after dropping '{id_column_to_drop}':", f58to309_train_dropped_id.shape)

    # Merge the dataframes
    f1to309_train = pd.merge(f1to57_train_df, f58to309_train_dropped_id, left_index=True, right_index=True)

    # Display shape after merging
    print("Shape of merged dataframe (f1to309_train):", f1to309_train.shape)

    # Add the merged dataframe to the loaded_dataframes dictionary with the new name
    loaded_dataframes['f1to309_train'] = f1to309_train

    # Display the names of the updated loaded dataframes
    print("\nUpdated loaded dataframes:")
    for df_name in loaded_dataframes.keys():
        print(df_name)
else:
    print("Merging could not be performed as no ID column was found to drop.")

Shape of f58to309_train before dropping 'id' column: (770164, 240)
Shape of f1to57_train before merging: (770164, 77)
Shape of f58to309_train after dropping 'id2': (770164, 239)
Shape of merged dataframe (f1to309_train): (770164, 316)

Updated loaded dataframes:
f310tof314_train
f315tof319_train
f320tof324_train
f325to328_train
f329to331_train
f332to334_train
train_data_f336to340
f341to343_train
f344to346_train
f351to357_train
f354_train
f359to366_train
f347_348_358_train
f349_350_train
f58to309_train
f1to41_train
f42to57_train
f1to57_train
f1to309_train

In [9]:
# Calculate the null percentage for each column in f1to309_train
f1to309_null_percentage = f1to309_train.isnull().sum() / len(f1to309_train) * 100

# Check for columns with null percentage greater than 0
columns_with_nulls = f1to309_null_percentage[f1to309_null_percentage > 0]

# Display the result
if not columns_with_nulls.empty:
    print("Columns in f1to309_train with null percentage greater than 0:")
    print(columns_with_nulls)
else:
    print("No columns in f1to309_train have a null percentage greater than 0.")

No columns in f1to309_train have a null percentage greater than 0.

In [10]:
# Dataframes to process in ascending order
dfs_to_merge_names = [
    'f310tof314_train',
    'f315tof319_train',
    'f320tof324_train',
    'f325to328_train',
    'f329to331_train',
    'f332to334_train'
]

# Start with the f1to309_train dataframe as the base for merging
merged_f1to309_to_f334 = loaded_dataframes['f1to309_train']
print("Initial shape of base dataframe (f1to309_train):", merged_f1to309_to_f334.shape)

for df_name in dfs_to_merge_names:
    print(f"\nProcessing {df_name}...")
    current_df = loaded_dataframes[df_name]

    # Identify the ID column to drop
    id_column_to_drop = None
    if 'id2' in current_df.columns:
        id_column_to_drop = 'id2'
    elif 'id3' in current_df.columns:
        id_column_to_drop = 'id3'
    else:
        print(f"Neither 'id2' nor 'id3' found in {df_name}. Skipping column drop for this dataframe.")

    if id_column_to_drop:
        # Display shape before dropping
        print(f"Shape of {df_name} before dropping '{id_column_to_drop}':", current_df.shape)
        # Drop the identified ID column
        current_df_dropped_id = current_df.drop(id_column_to_drop, axis=1)
        # Display shape after dropping
        print(f"Shape of {df_name} after dropping '{id_column_to_drop}':", current_df_dropped_id.shape)
    else:
        current_df_dropped_id = current_df # No column to drop, use the original dataframe

    # Display shape of base dataframe before merging
    print(f"Shape of base dataframe before merging with {df_name}:", merged_f1to309_to_f334.shape)
    # Merge with the base dataframe
    merged_f1to309_to_f334 = pd.merge(merged_f1to309_to_f334, current_df_dropped_id, left_index=True, right_index=True)

    # Display shape after merging
    print(f"Shape of base dataframe after merging with {df_name}:", merged_f1to309_to_f334.shape)

# The final merged dataframe is stored in merged_f1to309_to_f334
loaded_dataframes['f1to334_train'] = merged_f1to309_to_f334

print("\nFinal merged dataframe name: f1to334_train")
print("Final shape of f1to334_train:", loaded_dataframes['f1to334_train'].shape)

# Display the names of the updated loaded dataframes
print("\nUpdated loaded dataframes:")
for df_name in loaded_dataframes.keys():
    print(df_name)

Initial shape of base dataframe (f1to309_train): (770164, 316)

Processing f310tof314_train...
Shape of f310tof314_train before dropping 'id2': (770164, 6)
Shape of f310tof314_train after dropping 'id2': (770164, 5)
Shape of base dataframe before merging with f310tof314_train: (770164, 316)
Shape of base dataframe after merging with f310tof314_train: (770164, 321)

Processing f315tof319_train...
Shape of f315tof319_train before dropping 'id2': (770164, 6)
Shape of f315tof319_train after dropping 'id2': (770164, 5)
Shape of base dataframe before merging with f315tof319_train: (770164, 321)
Shape of base dataframe after merging with f315tof319_train: (770164, 326)

Processing f320tof324_train...
Shape of f320tof324_train before dropping 'id2': (770164, 6)
Shape of f320tof324_train after dropping 'id2': (770164, 5)
Shape of base dataframe before merging with f320tof324_train: (770164, 326)
Shape of base dataframe after merging with f320tof324_train: (770164, 331)

Processing f325to328_train...
Shape of f325to328_train before dropping 'id2': (770164, 5)
Shape of f325to328_train after dropping 'id2': (770164, 4)
Shape of base dataframe before merging with f325to328_train: (770164, 331)
Shape of base dataframe after merging with f325to328_train: (770164, 335)

Processing f329to331_train...
Shape of f329to331_train before dropping 'id2': (770164, 2)
Shape of f329to331_train after dropping 'id2': (770164, 1)
Shape of base dataframe before merging with f329to331_train: (770164, 335)
Shape of base dataframe after merging with f329to331_train: (770164, 336)

Processing f332to334_train...
Shape of f332to334_train before dropping 'id2': (770164, 4)
Shape of f332to334_train after dropping 'id2': (770164, 3)
Shape of base dataframe before merging with f332to334_train: (770164, 336)
Shape of base dataframe after merging with f332to334_train: (770164, 339)

Final merged dataframe name: f1to334_train
Final shape of f1to334_train: (770164, 339)

Updated loaded dataframes:
f310tof314_train
f315tof319_train
f320tof324_train
f325to328_train
f329to331_train
f332to334_train
train_data_f336to340
f341to343_train
f344to346_train
f351to357_train
f354_train
f359to366_train
f347_348_358_train
f349_350_train
f58to309_train
f1to41_train
f42to57_train
f1to57_train
f1to309_train
f1to334_train

In [11]:
# Dataframes to process in the specified order
dfs_to_merge_names_part2 = [
    'f341to343_train',
    'f344to346_train',
    'f351to357_train',
    'f354_train',
    'f359to366_train',
    'f347_348_358_train',
    'f349_350_train'
]

# Start with the f1to334_train dataframe as the base for merging
merged_f1to334_to_f366 = loaded_dataframes['f1to334_train']
print("Initial shape of base dataframe (f1to334_train):", merged_f1to334_to_f366.shape)

for df_name in dfs_to_merge_names_part2:
    print(f"\nProcessing {df_name}...")
    current_df = loaded_dataframes[df_name]

    # Identify the ID column to drop
    id_column_to_drop = None
    if 'id2' in current_df.columns:
        id_column_to_drop = 'id2'
    elif 'id3' in current_df.columns:
        id_column_to_drop = 'id3'
    else:
        print(f"Neither 'id2' nor 'id3' found in {df_name}. Skipping column drop for this dataframe.")

    if id_column_to_drop:
        # Display shape before dropping
        print(f"Shape of {df_name} before dropping '{id_column_to_drop}':", current_df.shape)
        # Drop the identified ID column
        current_df_dropped_id = current_df.drop(id_column_to_drop, axis=1)
        # Display shape after dropping
        print(f"Shape of {df_name} after dropping '{id_column_to_drop}':", current_df_dropped_id.shape)
    else:
        current_df_dropped_id = current_df # No column to drop, use the original dataframe

    # Display shape of base dataframe before merging
    print(f"Shape of base dataframe before merging with {df_name}:", merged_f1to334_to_f366.shape)
    # Merge with the base dataframe
    merged_f1to334_to_f366 = pd.merge(merged_f1to334_to_f366, current_df_dropped_id, left_index=True, right_index=True)

    # Display shape after merging
    print(f"Shape of base dataframe after merging with {df_name}:", merged_f1to334_to_f366.shape)

# The final merged dataframe is stored in merged_f1to334_to_f366
loaded_dataframes['f1to366_train'] = merged_f1to334_to_f366

print("\nFinal merged dataframe name: f1to366_train")
print("Final shape of f1to366_train:", loaded_dataframes['f1to366_train'].shape)

# Display the names of the updated loaded dataframes
print("\nUpdated loaded dataframes:")
for df_name in loaded_dataframes.keys():
    print(df_name)

Initial shape of base dataframe (f1to334_train): (770164, 339)

Processing f341to343_train...
Shape of f341to343_train before dropping 'id2': (770164, 2)
Shape of f341to343_train after dropping 'id2': (770164, 1)
Shape of base dataframe before merging with f341to343_train: (770164, 339)
Shape of base dataframe after merging with f341to343_train: (770164, 340)

Processing f344to346_train...
Shape of f344to346_train before dropping 'id2': (770164, 4)
Shape of f344to346_train after dropping 'id2': (770164, 3)
Shape of base dataframe before merging with f344to346_train: (770164, 340)
Shape of base dataframe after merging with f344to346_train: (770164, 343)

Processing f351to357_train...
Shape of f351to357_train before dropping 'id3': (770164, 7)
Shape of f351to357_train after dropping 'id3': (770164, 6)
Shape of base dataframe before merging with f351to357_train: (770164, 343)
Shape of base dataframe after merging with f351to357_train: (770164, 349)

Processing f354_train...
Neither 'id2' nor 'id3' found in f354_train. Skipping column drop for this dataframe.
Shape of base dataframe before merging with f354_train: (770164, 349)
Shape of base dataframe after merging with f354_train: (770164, 352)

Processing f359to366_train...
Shape of f359to366_train before dropping 'id2': (770164, 9)
Shape of f359to366_train after dropping 'id2': (770164, 8)
Shape of base dataframe before merging with f359to366_train: (770164, 352)
Shape of base dataframe after merging with f359to366_train: (770164, 360)

Processing f347_348_358_train...
Shape of f347_348_358_train before dropping 'id3': (770164, 4)
Shape of f347_348_358_train after dropping 'id3': (770164, 3)
Shape of base dataframe before merging with f347_348_358_train: (770164, 360)
Shape of base dataframe after merging with f347_348_358_train: (770164, 363)

Processing f349_350_train...
Neither 'id2' nor 'id3' found in f349_350_train. Skipping column drop for this dataframe.
Shape of base dataframe before merging with f349_350_train: (770164, 363)
Shape of base dataframe after merging with f349_350_train: (770164, 372)

Final merged dataframe name: f1to366_train
Final shape of f1to366_train: (770164, 372)

Updated loaded dataframes:
f310tof314_train
f315tof319_train
f320tof324_train
f325to328_train
f329to331_train
f332to334_train
train_data_f336to340
f341to343_train
f344to346_train
f351to357_train
f354_train
f359to366_train
f347_348_358_train
f349_350_train
f58to309_train
f1to41_train
f42to57_train
f1to57_train
f1to309_train
f1to334_train
f1to366_train

In [12]:
# Calculate the null percentage for each column in f1to366_train
f1to366_null_percentage = loaded_dataframes['f1to366_train'].isnull().sum() / len(loaded_dataframes['f1to366_train']) * 100

# Check for columns with null percentage greater than 0
columns_with_nulls_f1to366 = f1to366_null_percentage[f1to366_null_percentage > 0]

# Display the result
if not columns_with_nulls_f1to366.empty:
    print("Columns in f1to366_train with null percentage greater than 0:")
    print(columns_with_nulls_f1to366)
else:
    print("No columns in f1to366_train have a null percentage greater than 0.")

Columns in f1to366_train with null percentage greater than 0:
f332    0.002337
f333    0.002337
f334    0.002337
dtype: float64

In [13]:
# Get the list of column names from the f1to366_train dataframe
columns_list = loaded_dataframes['f1to366_train'].columns.tolist()

# Display the list of columns
print("Columns in f1to366_train:")
print(columns_list)

Columns in f1to366_train:
['id2', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f18', 'f22', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f43', 'f44', 'f45', 'f46', 'f47', 'f49', 'f51', 'f42_G', 'f42_P', 'f42_R', 'f42_S', 'f48_1.0', 'f48_2.0', 'f48_3.0', 'f48_4.0', 'f50_N', 'f50_Y', 'f52_N', 'f52_Y', 'f53_NN', 'f53_NY', 'f54_A', 'f54_C', 'f54_D', 'f54_E', 'f54_F', 'f54_Other', 'f55_-', 'f55_A', 'f55_C', 'f55_D', 'f55_H', 'f55_I', 'f55_M', 'f55_Other', 'f55_T', 'f55_W', 'f56_B', 'f56_D', 'f56_G', 'f56_S', 'f57_A', 'f57_H', 'f57_Other', 'f57_P', 'f58', 'f59', 'f60', 'f61', 'f63', 'f64', 'f65', 'f67', 'f68', 'f69', 'f70', 'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f89', 'f90', 'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118', 'f119', 'f121', 'f123', 'f124', 'f125', 'f126', 'f127', 'f130', 'f131', 'f132', 'f133', 'f134', 'f137', 'f138', 'f139', 'f140', 'f141', 'f142', 'f143', 'f146', 'f147', 'f148', 'f149', 'f150', 'f151', 'f152', 'f153', 'f154', 'f155', 'f156', 'f157', 'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166', 'f167', 'f168', 'f169', 'f170', 'f171', 'f172', 'f173', 'f174', 'f175', 'f176', 'f177', 'f178', 'f179', 'f180', 'f181', 'f182', 'f183', 'f184', 'f185', 'f186', 'f187', 'f188', 'f189', 'f190', 'f191', 'f192', 'f193', 'f194', 'f195', 'f196', 'f197', 'f198', 'f199', 'f200', 'f201', 'f202', 'f203', 'f204', 'f205', 'f206', 'f207', 'f208', 'f209', 'f210', 'f211', 'f212', 'f213', 'f214', 'f215', 'f216', 'f217', 'f218', 'f219', 'f220', 'f221', 'f222', 'f223', 'f224', 'f225', 'f226', 'f227', 'f228', 'f229', 'f230', 'f231', 'f232', 'f233', 'f234', 'f235', 'f236', 'f237', 'f238', 'f239', 'f240', 'f241', 'f242', 'f243', 'f244', 'f245', 'f246', 'f247', 'f248', 'f249', 'f250', 'f251', 'f252', 'f253', 'f254', 'f255', 'f256', 'f257', 'f258', 'f259', 'f260', 'f261', 'f262', 'f263', 'f264', 'f265', 'f266', 'f267', 'f268', 'f269', 'f270', 'f271', 'f272', 'f273', 'f274', 'f275', 'f276', 'f277', 'f278', 'f279', 'f280', 'f281', 'f282', 'f283', 'f284', 'f285', 'f286', 'f287', 'f288', 'f289', 'f290', 'f291', 'f292', 'f293', 'f294', 'f295', 'f296', 'f297', 'f298', 'f299', 'f300', 'f301', 'f302', 'f303', 'f304', 'f305', 'f306', 'f307', 'f308', 'f309', 'missing_offer_meta', 'f310', 'f311', 'f312', 'f313', 'f314', 'f315', 'f316', 'f317', 'f318', 'f319', 'f320', 'f321', 'f322', 'f323', 'f324', 'f325', 'f326', 'f327', 'f328', 'f329_to_f331_median', 'f332', 'f333', 'f334', 'f341_to_f343_median', 'f344', 'f345', 'f346', 'f351', 'f352', 'f353', 'f355', 'f356', 'f357', 'f354_Phase_1', 'f354_Rest', 'f354_nan', 'f359', 'f360', 'f361', 'f362', 'f363', 'f364', 'f365', 'f366', 'f347', 'f348', 'f358', 'id4', 'f349_1', 'f349_2', 'f349_3', 'f349_4', 'f349_5', 'f349_6', 'f349_7', 'f350_scaled']

In [14]:
# Get the dataframe from the dictionary
train_data_f336to340_df = loaded_dataframes['train_data_f336to340']

# Identify columns to keep
columns_to_keep = ['id2'] + [f'f{i}' for i in range(336, 341)]

# Drop columns not in the list of columns to keep
columns_to_drop = [col for col in train_data_f336to340_df.columns if col not in columns_to_keep]
train_data_f336to340_processed = train_data_f336to340_df.drop(columns=columns_to_drop)

# Display the shape of the processed dataframe
print("Shape of train_data_f336to340 after dropping columns:", train_data_f336to340_processed.shape)

# Display the first few rows of the processed dataframe
print("\nFirst 5 rows of the processed dataframe:")
display(train_data_f336to340_processed.head())

Shape of train_data_f336to340 after dropping columns: (770164, 6)

First 5 rows of the processed dataframe:

       id2      f336      f337      f338      f339      f340
0  1366776  0.102968  0.139968  0.113961  0.095255  0.080030
1  1366776  0.099516  0.097932  0.088041  0.079635  0.070667
2  1366776  0.083916  0.122106  0.103510  0.082009  0.068658
3  1366776  0.084076  0.134607  0.112279  0.087853  0.071164
4  1366776  0.083603  0.124457  0.095822  0.081572  0.068215

In [15]:
# Calculate the null percentage for each column in train_data_f336to340_processed
null_percentage_processed = train_data_f336to340_processed.isnull().sum() / len(train_data_f336to340_processed) * 100

# Display the null percentages
print("Null percentage for each column in train_data_f336to340_processed:")
print(null_percentage_processed)

Null percentage for each column in train_data_f336to340_processed:
id2     0.0
f336    0.0
f337    0.0
f338    0.0
f339    0.0
f340    0.0
dtype: float64

In [16]:
# Select columns 'f332', 'f333', and 'f334' from f1to366_train
columns_to_merge = loaded_dataframes['f1to366_train'][['f332', 'f333', 'f334']]

# Merge the selected columns with train_data_f336to340_processed
merged_f332_to_f340 = pd.merge(train_data_f336to340_processed, columns_to_merge, left_index=True, right_index=True)

# Display the shape of the new merged dataframe
print("Shape of the new merged dataframe:", merged_f332_to_f340.shape)

# Display the first few rows of the new merged dataframe
print("\nFirst 5 rows of the new merged dataframe:")
display(merged_f332_to_f340.head())

Shape of the new merged dataframe: (770164, 9)

First 5 rows of the new merged dataframe:

       id2      f336      f337      f338      f339      f340  f332  f333  f334
0  1366776  0.102968  0.139968  0.113961  0.095255  0.080030   1.0   0.0   0.0
1  1366776  0.099516  0.097932  0.088041  0.079635  0.070667   1.0   0.0   0.0
2  1366776  0.083916  0.122106  0.103510  0.082009  0.068658   1.0   0.0   0.0
3  1366776  0.084076  0.134607  0.112279  0.087853  0.071164   1.0   0.0   0.0
4  1366776  0.083603  0.124457  0.095822  0.081572  0.068215   1.0   0.0   0.0

In [17]:
# Drop the specified columns from f1to366_train
columns_to_drop_f1to366 = ['id4', 'f332', 'f333', 'f334']
f1to366_train_dropped = loaded_dataframes['f1to366_train'].drop(columns=columns_to_drop_f1to366)

# Display the shape of the dataframe after dropping columns
print("Shape of f1to366_train after dropping columns:", f1to366_train_dropped.shape)

# Display the first few rows of the modified dataframe
print("\nFirst 5 rows of the modified f1to366_train dataframe:")
display(f1to366_train_dropped.head())

Shape of f1to366_train after dropping columns: (770164, 368)

First 5 rows of the modified f1to366_train dataframe:

,id2,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f348,f358,f349_1,f349_2,f349_3,f349_4,f349_5,f349_6,f349_7,f350_scaled
0,1366776,0.0,0.30303,0.30303,0.393939,0.333333,0.353535,0.333333,0.343434,0.383838,...,0.885361,0.700264,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.931284
1,1366776,0.0,0.30303,0.30303,0.393939,0.333333,0.353535,0.333333,0.343434,0.383838,...,0.895701,0.226280,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.993991
2,1366776,0.0,0.30303,0.30303,0.393939,0.333333,0.353535,0.333333,0.343434,0.383838,...,0.887383,-0.182063,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.021211
3,1366776,0.0,0.30303,0.30303,0.393939,0.333333,0.353535,0.333333,0.343434,0.383838,...,0.888180,-0.165986,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.931284
4,1366776,0.0,0.30303,0.30303,0.393939,0.333333,0.353535,0.333333,0.343434,0.383838,...,0.892666,0.047311,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.931284

In [18]:
# Create a copy to avoid modifying the original dataframe in place
f332to340_train = merged_f332_to_f340.copy()

# Identify columns for imputation
columns_to_impute = ['f332', 'f333', 'f334']

# Calculate global medians for fallback
global_medians = f332to340_train[columns_to_impute].median()

# Impute null values for each column
for col in columns_to_impute:
    # Fill with group median first
    f332to340_train[col] = f332to340_train.groupby('id2')[col].transform(lambda x: x.fillna(x.median()))

    # Fill remaining nulls with global median
    f332to340_train[col].fillna(global_medians[col], inplace=True)

# Display the null percentage after imputation
print("Null percentage for each column in f332to340_train after imputation:")
print(f332to340_train.isnull().sum() / len(f332to340_train) * 100)

# Display the first few rows of the imputed dataframe
print("\nFirst 5 rows of the imputed dataframe:")
display(f332to340_train.head())

Null percentage for each column in f332to340_train after imputation:
id2     0.0
f336    0.0
f337    0.0
f338    0.0
f339    0.0
f340    0.0
f332    0.0
f333    0.0
f334    0.0
dtype: float64

First 5 rows of the imputed dataframe:

       id2      f336      f337      f338      f339      f340  f332  f333  f334
0  1366776  0.102968  0.139968  0.113961  0.095255  0.080030   1.0   0.0   0.0
1  1366776  0.099516  0.097932  0.088041  0.079635  0.070667   1.0   0.0   0.0
2  1366776  0.083916  0.122106  0.103510  0.082009  0.068658   1.0   0.0   0.0
3  1366776  0.084076  0.134607  0.112279  0.087853  0.071164   1.0   0.0   0.0
4  1366776  0.083603  0.124457  0.095822  0.081572  0.068215   1.0   0.0   0.0

In [19]:
# Display shape of f332to340_train before dropping
print("Shape of f332to340_train before dropping 'id2':", f332to340_train.shape)

# Drop 'id2' column from f332to340_train
f332to340_train_dropped_id2 = f332to340_train.drop('id2', axis=1)

# Display shape after dropping
print("Shape of f332to340_train after dropping 'id2':", f332to340_train_dropped_id2.shape)

# Display shape of f1to366_train before merging
print("Shape of f1to366_train before merging:", loaded_dataframes['f1to366_train'].shape)

# Merge f1to366_train with f332to340_train_dropped_id2
merged_f1to366_f332to340 = pd.merge(loaded_dataframes['f1to366_train'], f332to340_train_dropped_id2, left_index=True, right_index=True)

# Display shape after merging
print("Shape of merged dataframe:", merged_f1to366_f332to340.shape)

Shape of f332to340_train before dropping 'id2': (770164, 9)
Shape of f332to340_train after dropping 'id2': (770164, 8)
Shape of f1to366_train before merging: (770164, 372)
Shape of merged dataframe: (770164, 380)

In [20]:
# Display shape of f332to340_train before dropping
print("Shape of f332to340_train before dropping 'id2':", f332to340_train.shape)

# Drop 'id2' column from f332to340_train
f332to340_train_dropped_id2 = f332to340_train.drop('id2', axis=1)

# Display shape after dropping
print("Shape of f332to340_train after dropping 'id2':", f332to340_train_dropped_id2.shape)

# Display shape of f1to366_train_dropped before merging
print("Shape of f1to366_train_dropped before merging:", f1to366_train_dropped.shape)

# Merge f1to366_train_dropped with f332to340_train_dropped_id2
final_train = pd.merge(f1to366_train_dropped, f332to340_train_dropped_id2, left_index=True, right_index=True)

# Display shape after merging
print("Shape of final_train after merging:", final_train.shape)

Shape of f332to340_train before dropping 'id2': (770164, 9)
Shape of f332to340_train after dropping 'id2': (770164, 8)
Shape of f1to366_train_dropped before merging: (770164, 368)
Shape of final_train after merging: (770164, 376)

In [21]:
# Get the list of column names from the final_train dataframe
final_train_columns = final_train.columns.tolist()

# Display the list of columns in a convenient format
print("Columns in final_train:")
print(final_train_columns)

Columns in final_train:
['id2', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f18', 'f22', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f43', 'f44', 'f45', 'f46', 'f47', 'f49', 'f51', 'f42_G', 'f42_P', 'f42_R', 'f42_S', 'f48_1.0', 'f48_2.0', 'f48_3.0', 'f48_4.0', 'f50_N', 'f50_Y', 'f52_N', 'f52_Y', 'f53_NN', 'f53_NY', 'f54_A', 'f54_C', 'f54_D', 'f54_E', 'f54_F', 'f54_Other', 'f55_-', 'f55_A', 'f55_C', 'f55_D', 'f55_H', 'f55_I', 'f55_M', 'f55_Other', 'f55_T', 'f55_W', 'f56_B', 'f56_D', 'f56_G', 'f56_S', 'f57_A', 'f57_H', 'f57_Other', 'f57_P', 'f58', 'f59', 'f60', 'f61', 'f63', 'f64', 'f65', 'f67', 'f68', 'f69', 'f70', 'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f89', 'f90', 'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118', 'f119', 'f121', 'f123', 'f124', 'f125', 'f126', 'f127', 'f130', 'f131', 'f132', 'f133', 'f134', 'f137', 'f138', 'f139', 'f140', 'f141', 'f142', 'f143', 'f146', 'f147', 'f148', 'f149', 'f150', 'f151', 'f152', 'f153', 'f154', 'f155', 'f156', 'f157', 'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166', 'f167', 'f168', 'f169', 'f170', 'f171', 'f172', 'f173', 'f174', 'f175', 'f176', 'f177', 'f178', 'f179', 'f180', 'f181', 'f182', 'f183', 'f184', 'f185', 'f186', 'f187', 'f188', 'f189', 'f190', 'f191', 'f192', 'f193', 'f194', 'f195', 'f196', 'f197', 'f198', 'f199', 'f200', 'f201', 'f202', 'f203', 'f204', 'f205', 'f206', 'f207', 'f208', 'f209', 'f210', 'f211', 'f212', 'f213', 'f214', 'f215', 'f216', 'f217', 'f218', 'f219', 'f220', 'f221', 'f222', 'f223', 'f224', 'f225', 'f226', 'f227', 'f228', 'f229', 'f230', 'f231', 'f232', 'f233', 'f234', 'f235', 'f236', 'f237', 'f238', 'f239', 'f240', 'f241', 'f242', 'f243', 'f244', 'f245', 'f246', 'f247', 'f248', 'f249', 'f250', 'f251', 'f252', 'f253', 'f254', 'f255', 'f256', 'f257', 'f258', 'f259', 'f260', 'f261', 'f262', 'f263', 'f264', 'f265', 'f266', 'f267', 'f268', 'f269', 'f270', 'f271', 'f272', 'f273', 'f274', 'f275', 'f276', 'f277', 'f278', 'f279', 'f280', 'f281', 'f282', 'f283', 'f284', 'f285', 'f286', 'f287', 'f288', 'f289', 'f290', 'f291', 'f292', 'f293', 'f294', 'f295', 'f296', 'f297', 'f298', 'f299', 'f300', 'f301', 'f302', 'f303', 'f304', 'f305', 'f306', 'f307', 'f308', 'f309', 'missing_offer_meta', 'f310', 'f311', 'f312', 'f313', 'f314', 'f315', 'f316', 'f317', 'f318', 'f319', 'f320', 'f321', 'f322', 'f323', 'f324', 'f325', 'f326', 'f327', 'f328', 'f329_to_f331_median', 'f341_to_f343_median', 'f344', 'f345', 'f346', 'f351', 'f352', 'f353', 'f355', 'f356', 'f357', 'f354_Phase_1', 'f354_Rest', 'f354_nan', 'f359', 'f360', 'f361', 'f362', 'f363', 'f364', 'f365', 'f366', 'f347', 'f348', 'f358', 'f349_1', 'f349_2', 'f349_3', 'f349_4', 'f349_5', 'f349_6', 'f349_7', 'f350_scaled', 'f336', 'f337', 'f338', 'f339', 'f340', 'f332', 'f333', 'f334']

In [22]:
# Calculate the null percentage for each column in final_train
final_train_null_percentage = final_train.isnull().sum() / len(final_train) * 100

# Check for columns with null percentage greater than 0
final_columns_with_nulls = final_train_null_percentage[final_train_null_percentage > 0]

# Display the result
if not final_columns_with_nulls.empty:
    print("Columns in final_train with null percentage greater than 0:")
    print(final_columns_with_nulls)
else:
    print("No columns in final_train have a null percentage greater than 0.")

No columns in final_train have a null percentage greater than 0.

In [23]:
# Define the directory path and filename
save_directory = '/content/drive/MyDrive/AMEXChallenge'
file_name = 'final_train.parquet'
save_path = f"{save_directory}/{file_name}"

# Create the directory if it doesn't exist
import os
os.makedirs(save_directory, exist_ok=True)

# Save the dataframe to a Parquet file
final_train.to_parquet(save_path, index=False)

print(f"DataFrame saved successfully to: {save_path}")

DataFrame saved successfully to: /content/drive/MyDrive/AMEXChallenge/final_train.parquet

In [24]:
# Delete intermediate dataframes to free up memory
variables_to_delete = [
    'f42to57_train_dropped_id2',
    'merged_df',
    'merged_df_f1to309',
    'merged_f1to309_to_f334',
    'current_df_dropped_id',
    'merged_f1to334_to_f366',
    'merged_f332_to_f340',
    'f332to340_train_dropped_id2',
    'columns_to_merge',
    'train_data_f336to340_processed',
    'f1to366_train_dropped'
]

for var_name in variables_to_delete:
    if var_name in globals():
        del globals()[var_name]
        print(f"Deleted: {var_name}")

import gc
gc.collect()
print("\nGarbage collection complete.")

Deleted: f42to57_train_dropped_id2
Deleted: merged_df
Deleted: merged_f1to309_to_f334
Deleted: current_df_dropped_id
Deleted: merged_f1to334_to_f366
Deleted: merged_f332_to_f340
Deleted: f332to340_train_dropped_id2
Deleted: columns_to_merge
Deleted: train_data_f336to340_processed
Deleted: f1to366_train_dropped

Garbage collection complete.

In [25]:
# Get a list of all variables in the global scope
all_variables = list(globals().keys())

# Iterate through the variables and delete them, except for 'final_train'
for var_name in all_variables:
    if var_name != 'final_train' and not var_name.startswith('_'):
        try:
            del globals()[var_name]
            print(f"Deleted: {var_name}")
        except NameError:
            # This might happen if a variable was already deleted or is a special object
            pass

import gc
gc.collect()
print("\nGarbage collection complete.")

Deleted: In
Deleted: Out
Deleted: get_ipython
Deleted: exit
Deleted: quit
Deleted: drive
Deleted: pd
Deleted: f42to57_train
Deleted: null_percentage
Deleted: os
Deleted: directory_path
Deleted: loaded_dataframes
Deleted: file_list
Deleted: filename
Deleted: file_path
Deleted: name
Deleted: extension
Deleted: df_name
Deleted: renamed_dataframes
Deleted: df
Deleted: new_name
Deleted: f58to309_train_df
Deleted: f1to57_train_df
Deleted: id_column_to_drop
Deleted: f58to309_train_dropped_id
Deleted: f1to309_train
Deleted: f1to309_null_percentage
Deleted: columns_with_nulls
Deleted: dfs_to_merge_names
Deleted: current_df
Deleted: dfs_to_merge_names_part2
Deleted: f1to366_null_percentage
Deleted: columns_with_nulls_f1to366
Deleted: columns_list
Deleted: train_data_f336to340_df
Deleted: columns_to_keep
Deleted: columns_to_drop
Deleted: null_percentage_processed
Deleted: columns_to_drop_f1to366
Deleted: f332to340_train
Deleted: columns_to_impute
Deleted: global_medians
Deleted: col
Deleted: merged_f1to366_f332to340
Deleted: final_train_columns
Deleted: final_train_null_percentage
Deleted: final_columns_with_nulls
Deleted: save_directory
Deleted: file_name
Deleted: save_path
Deleted: variables_to_delete
Deleted: gc

Garbage collection complete.

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
import pandas as pd

# Load f42to57_test.parquet
f42to57_test = pd.read_parquet('/content/drive/MyDrive/Transformed_Test_Data/f42to57_test.parquet')
print("Loaded f42to57_test.parquet as f42to57_test")

# Load f58to309_test.parquet
f58to309_test = pd.read_parquet('/content/drive/MyDrive/Transformed_Test_Data/f58to309_test.parquet')
print("Loaded f58to309_test.parquet as f58to309_test")

# Load f1to41_test.parquet
f1to41_test = pd.read_parquet('/content/drive/MyDrive/Transformed_Test_Data/f1to41_test.parquet')
print("Loaded f1to41_test.parquet as f1to41_test")

Loaded f42to57_test.parquet as f42to57_test
Loaded f58to309_test.parquet as f58to309_test
Loaded f1to41_test.parquet as f1to41_test

In [28]:
# Identify and drop ID column from f42to57_test
id_column_to_drop_42to57 = None
if 'id2' in f42to57_test.columns:
    id_column_to_drop_42to57 = 'id2'
elif 'id3' in f42to57_test.columns:
    id_column_to_drop_42to57 = 'id3'

if id_column_to_drop_42to57:
    f42to57_test_processed = f42to57_test.drop(columns=[id_column_to_drop_42to57])
else:
    f42to57_test_processed = f42to57_test.copy()
print(f"Shape of f42to57_test after dropping {id_column_to_drop_42to57}: {f42to57_test_processed.shape}")


# Identify and drop ID column from f58to309_test
id_column_to_drop_58to309 = None
if 'id2' in f58to309_test.columns:
    id_column_to_drop_58to309 = 'id2'
elif 'id3' in f58to309_test.columns:
    id_column_to_drop_58to309 = 'id3'

if id_column_to_drop_58to309:
    f58to309_test_processed = f58to309_test.drop(columns=[id_column_to_drop_58to309])
else:
    f58to309_test_processed = f58to309_test.copy()
print(f"Shape of f58to309_test after dropping {id_column_to_drop_58to309}: {f58to309_test_processed.shape}")


# Reset index for merging without index
f1to41_test_reset = f1to41_test.reset_index(drop=True)
f42to57_test_reset = f42to57_test_processed.reset_index(drop=True)
f58to309_test_reset = f58to309_test_processed.reset_index(drop=True)

print(f"Shape of f1to41_test after index reset: {f1to41_test_reset.shape}")
print(f"Shape of f42to57_test after index reset: {f42to57_test_reset.shape}")
print(f"Shape of f58to309_test after index reset: {f58to309_test_reset.shape}")


# Merge the dataframes without using index (concatenate column-wise)
f1to309_test = pd.concat([f1to41_test_reset, f42to57_test_reset, f58to309_test_reset], axis=1)

# Display shape after merging
print(f"Shape of final merged dataframe (f1to309_test): {f1to309_test.shape}")

Shape of f42to57_test after dropping id2: (369301, 45)
Shape of f58to309_test after dropping id2: (369301, 239)
Shape of f1to41_test after index reset: (369301, 32)
Shape of f42to57_test after index reset: (369301, 45)
Shape of f58to309_test after index reset: (369301, 239)
Shape of final merged dataframe (f1to309_test): (369301, 316)

In [29]:
# Get the list of column names from the f1to309_test dataframe
f1to309_test_columns = f1to309_test.columns.tolist()

# Display the list of columns in a convenient format
print("Columns in f1to309_test:")
print(f1to309_test_columns)

Columns in f1to309_test:
['id2', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f18', 'f22', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f43', 'f44', 'f45', 'f46', 'f47', 'f49', 'f51', 'f42_G', 'f42_P', 'f42_R', 'f42_S', 'f48_1.0', 'f48_2.0', 'f48_3.0', 'f48_4.0', 'f50_N', 'f50_Y', 'f52_N', 'f52_Y', 'f53_NN', 'f53_NY', 'f54_A', 'f54_C', 'f54_D', 'f54_E', 'f54_F', 'f54_Other', 'f55_-', 'f55_A', 'f55_C', 'f55_D', 'f55_H', 'f55_I', 'f55_M', 'f55_Other', 'f55_T', 'f55_W', 'f56_B', 'f56_D', 'f56_G', 'f56_S', 'f57_A', 'f57_H', 'f57_Other', 'f57_P', 'f58', 'f59', 'f60', 'f61', 'f63', 'f64', 'f65', 'f67', 'f68', 'f69', 'f70', 'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f89', 'f90', 'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118', 'f119', 'f121', 'f123', 'f124', 'f125', 'f126', 'f127', 'f130', 'f131', 'f132', 'f133', 'f134', 'f137', 'f138', 'f139', 'f140', 'f141', 'f142', 'f143', 'f146', 'f147', 'f148', 'f149', 'f150', 'f151', 'f152', 'f153', 'f154', 'f155', 'f156', 'f157', 'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166', 'f167', 'f168', 'f169', 'f170', 'f171', 'f172', 'f173', 'f174', 'f175', 'f176', 'f177', 'f178', 'f179', 'f180', 'f181', 'f182', 'f183', 'f184', 'f185', 'f186', 'f187', 'f188', 'f189', 'f190', 'f191', 'f192', 'f193', 'f194', 'f195', 'f196', 'f197', 'f198', 'f199', 'f200', 'f201', 'f202', 'f203', 'f204', 'f205', 'f206', 'f207', 'f208', 'f209', 'f210', 'f211', 'f212', 'f213', 'f214', 'f215', 'f216', 'f217', 'f218', 'f219', 'f220', 'f221', 'f222', 'f223', 'f224', 'f225', 'f226', 'f227', 'f228', 'f229', 'f230', 'f231', 'f232', 'f233', 'f234', 'f235', 'f236', 'f237', 'f238', 'f239', 'f240', 'f241', 'f242', 'f243', 'f244', 'f245', 'f246', 'f247', 'f248', 'f249', 'f250', 'f251', 'f252', 'f253', 'f254', 'f255', 'f256', 'f257', 'f258', 'f259', 'f260', 'f261', 'f262', 'f263', 'f264', 'f265', 'f266', 'f267', 'f268', 'f269', 'f270', 'f271', 'f272', 'f273', 'f274', 'f275', 'f276', 'f277', 'f278', 'f279', 'f280', 'f281', 'f282', 'f283', 'f284', 'f285', 'f286', 'f287', 'f288', 'f289', 'f290', 'f291', 'f292', 'f293', 'f294', 'f295', 'f296', 'f297', 'f298', 'f299', 'f300', 'f301', 'f302', 'f303', 'f304', 'f305', 'f306', 'f307', 'f308', 'f309', 'missing_offer_meta']

In [30]:
# Calculate the null percentage for each column in f1to309_test
f1to309_test_null_percentage = f1to309_test.isnull().sum() / len(f1to309_test) * 100

# Check for columns with null percentage greater than 0
f1to309_test_columns_with_nulls = f1to309_test_null_percentage[f1to309_test_null_percentage > 0]

# Display the result
if not f1to309_test_columns_with_nulls.empty:
    print("Columns in f1to309_test with null percentage greater than 0:")
    print(f1to309_test_columns_with_nulls)
else:
    print("No columns in f1to309_test have a null percentage greater than 0.")

No columns in f1to309_test have a null percentage greater than 0.

In [31]:
import pandas as pd
import os

test_files_to_load = [
    '/content/drive/MyDrive/Transformed_Test_Data/f310tof314_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f315tof319_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f320tof324_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f325to328_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f329to331_test_processed.parquet'
]

loaded_test_dataframes = {}

print("Loading test dataframes:")

for file_path in test_files_to_load:
    try:
        # Extract filename and remove extension and '_processed'
        filename = os.path.basename(file_path)
        name, extension = os.path.splitext(filename)
        new_name = name.replace('_processed', '')

        loaded_test_dataframes[new_name] = pd.read_parquet(file_path)
        print(f"Loaded {filename} as {new_name}")

    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
    except Exception as e:
        print(f"Error loading {file_path}: {e}")

print("\nLoaded test dataframes:")
for df_name in loaded_test_dataframes.keys():
    print(df_name)

Loading test dataframes:
Loaded f310tof314_test_processed.parquet as f310tof314_test
Loaded f315tof319_test_processed.parquet as f315tof319_test
Loaded f320tof324_test_processed.parquet as f320tof324_test
Loaded f325to328_test_processed.parquet as f325to328_test
Loaded f329to331_test_processed.parquet as f329to331_test

Loaded test dataframes:
f310tof314_test
f315tof319_test
f320tof324_test
f325to328_test
f329to331_test

In [32]:
# Dataframes to process in ascending order
test_dfs_to_merge_names = [
    'f310tof314_test',
    'f315tof319_test',
    'f320tof324_test',
    'f325to328_test',
    'f329to331_test'
]

# Start with the f1to309_test dataframe as the base for merging
merged_f1to309_to_f331_test = f1to309_test.copy() # Create a copy to avoid modifying the original f1to309_test
print("Initial shape of base dataframe (f1to309_test):", merged_f1to309_to_f331_test.shape)

for df_name in test_dfs_to_merge_names:
    print(f"\nProcessing {df_name}...")
    current_df = loaded_test_dataframes[df_name]

    # Identify the ID column to drop
    id_column_to_drop = None
    if 'id2' in current_df.columns:
        id_column_to_drop = 'id2'
    elif 'id3' in current_df.columns:
        id_column_to_drop = 'id3'
    else:
        print(f"Neither 'id2' nor 'id3' found in {df_name}. Skipping column drop for this dataframe.")

    if id_column_to_drop:
        # Display shape before dropping
        print(f"Shape of {df_name} before dropping '{id_column_to_drop}':", current_df.shape)
        # Drop the identified ID column
        current_df_dropped_id = current_df.drop(id_column_to_drop, axis=1)
        # Display shape after dropping
        print(f"Shape of {df_name} after dropping '{id_column_to_drop}':", current_df_dropped_id.shape)
    else:
        current_df_dropped_id = current_df # No column to drop, use the original dataframe

    # Display shape of base dataframe before merging
    print(f"Shape of base dataframe before merging with {df_name}:", merged_f1to309_to_f331_test.shape)
    # Merge with the base dataframe (assuming merging on index is appropriate after resetting indices earlier)
    merged_f1to309_to_f331_test = pd.merge(merged_f1to309_to_f331_test, current_df_dropped_id, left_index=True, right_index=True)

    # Display shape after merging
    print(f"Shape of base dataframe after merging with {df_name}:", merged_f1to309_to_f331_test.shape)

# The final merged dataframe is stored in merged_f1to309_to_f331_test
f1to331_test = merged_f1to309_to_f331_test

print("\nFinal merged dataframe name: f1to331_test")
print("Final shape of f1to331_test:", f1to331_test.shape)

Initial shape of base dataframe (f1to309_test): (369301, 316)

Processing f310tof314_test...
Shape of f310tof314_test before dropping 'id2': (369301, 6)
Shape of f310tof314_test after dropping 'id2': (369301, 5)
Shape of base dataframe before merging with f310tof314_test: (369301, 316)
Shape of base dataframe after merging with f310tof314_test: (369301, 321)

Processing f315tof319_test...
Shape of f315tof319_test before dropping 'id2': (369301, 6)
Shape of f315tof319_test after dropping 'id2': (369301, 5)
Shape of base dataframe before merging with f315tof319_test: (369301, 321)
Shape of base dataframe after merging with f315tof319_test: (369301, 326)

Processing f320tof324_test...
Shape of f320tof324_test before dropping 'id2': (369301, 6)
Shape of f320tof324_test after dropping 'id2': (369301, 5)
Shape of base dataframe before merging with f320tof324_test: (369301, 326)
Shape of base dataframe after merging with f320tof324_test: (369301, 331)

Processing f325to328_test...
Shape of f325to328_test before dropping 'id2': (369301, 5)
Shape of f325to328_test after dropping 'id2': (369301, 4)
Shape of base dataframe before merging with f325to328_test: (369301, 331)
Shape of base dataframe after merging with f325to328_test: (369301, 335)

Processing f329to331_test...
Shape of f329to331_test before dropping 'id2': (369301, 2)
Shape of f329to331_test after dropping 'id2': (369301, 1)
Shape of base dataframe before merging with f329to331_test: (369301, 335)
Shape of base dataframe after merging with f329to331_test: (369301, 336)

Final merged dataframe name: f1to331_test
Final shape of f1to331_test: (369301, 336)

In [33]:
import pandas as pd
import os

test_files_to_load_part2 = [
    '/content/drive/MyDrive/Transformed_Test_Data/f341to343_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f344to346_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f351to357_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f354_test_encoded.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f359to366_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f347_348_358_test_processed.parquet',
    '/content/drive/MyDrive/Transformed_Test_Data/f349_350_test_processed.parquet'
]

print("Loading test dataframes (part 2):")

for file_path in test_files_to_load_part2:
    try:
        # Extract filename and remove extension and '_processed' or '_encoded'
        filename = os.path.basename(file_path)
        name, extension = os.path.splitext(filename)
        new_name = name.replace('_processed', '').replace('_encoded', '')

        loaded_test_dataframes[new_name] = pd.read_parquet(file_path)
        print(f"Loaded {filename} as {new_name}")

    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
    except Exception as e:
        print(f"Error loading {file_path}: {e}")

print("\nUpdated list of loaded test dataframes:")
for df_name in loaded_test_dataframes.keys():
    print(df_name)

Loading test dataframes (part 2):
Loaded f341to343_test_processed.parquet as f341to343_test
Loaded f344to346_test_processed.parquet as f344to346_test
Loaded f351to357_test_processed.parquet as f351to357_test
Loaded f354_test_encoded.parquet as f354_test
Loaded f359to366_test_processed.parquet as f359to366_test
Loaded f347_348_358_test_processed.parquet as f347_348_358_test
Loaded f349_350_test_processed.parquet as f349_350_test

Updated list of loaded test dataframes:
f310tof314_test
f315tof319_test
f320tof324_test
f325to328_test
f329to331_test
f341to343_test
f344to346_test
f351to357_test
f354_test
f359to366_test
f347_348_358_test
f349_350_test

In [34]:
# Dataframes to process in the specified order
test_dfs_to_merge_names_part3 = [
    'f341to343_test',
    'f344to346_test',
    'f351to357_test',
    'f354_test',
    'f359to366_test',
    'f347_348_358_test',
    'f349_350_test'
]

# Start with the f1to331_test dataframe as the base for merging
merged_f1to331_to_f366_test = f1to331_test.copy() # Create a copy to avoid modifying the original f1to331_test
print("Initial shape of base dataframe (f1to331_test):", merged_f1to331_to_f366_test.shape)

for df_name in test_dfs_to_merge_names_part3:
    print(f"\nProcessing {df_name}...")
    current_df = loaded_test_dataframes[df_name]

    # Identify the ID column to drop
    id_column_to_drop = None
    if 'id2' in current_df.columns:
        id_column_to_drop = 'id2'
    elif 'id3' in current_df.columns:
        id_column_to_drop = 'id3'
    elif 'id4' in current_df.columns:
        id_column_to_drop = 'id4'
    else:
        print(f"Neither 'id2', 'id3', nor 'id4' found in {df_name}. Skipping column drop for this dataframe.")

    if id_column_to_drop:
        # Display shape before dropping
        print(f"Shape of {df_name} before dropping '{id_column_to_drop}':", current_df.shape)
        # Drop the identified ID column
        current_df_dropped_id = current_df.drop(id_column_to_drop, axis=1)
        # Display shape after dropping
        print(f"Shape of {df_name} after dropping '{id_column_to_drop}':", current_df_dropped_id.shape)
    else:
        current_df_dropped_id = current_df # No column to drop, use the original dataframe

    # Display shape of base dataframe before merging
    print(f"Shape of base dataframe before merging with {df_name}:", merged_f1to331_to_f366_test.shape)
    # Merge with the base dataframe (assuming merging on index is appropriate after resetting indices earlier)
    merged_f1to331_to_f366_test = pd.merge(merged_f1to331_to_f366_test, current_df_dropped_id, left_index=True, right_index=True)

    # Display shape after merging
    print(f"Shape of base dataframe after merging with {df_name}:", merged_f1to331_to_f366_test.shape)

# The final merged dataframe is stored in merged_f1to331_to_f366_test
f1to366_test = merged_f1to331_to_f366_test

print("\nFinal merged dataframe name: f1to366_test")
print("Final shape of f1to366_test:", f1to366_test.shape)

# Display the columns of the final dataframe
print("\nColumns in f1to366_test:")
print(f1to366_test.columns.tolist())

Initial shape of base dataframe (f1to331_test): (369301, 336)

Processing f341to343_test...
Shape of f341to343_test before dropping 'id2': (369301, 2)
Shape of f341to343_test after dropping 'id2': (369301, 1)
Shape of base dataframe before merging with f341to343_test: (369301, 336)
Shape of base dataframe after merging with f341to343_test: (369301, 337)

Processing f344to346_test...
Shape of f344to346_test before dropping 'id2': (369301, 4)
Shape of f344to346_test after dropping 'id2': (369301, 3)
Shape of base dataframe before merging with f344to346_test: (369301, 337)
Shape of base dataframe after merging with f344to346_test: (369301, 340)

Processing f351to357_test...
Shape of f351to357_test before dropping 'id3': (369301, 7)
Shape of f351to357_test after dropping 'id3': (369301, 6)
Shape of base dataframe before merging with f351to357_test: (369301, 340)
Shape of base dataframe after merging with f351to357_test: (369301, 346)

Processing f354_test...
Neither 'id2', 'id3', nor 'id4' found in f354_test. Skipping column drop for this dataframe.
Shape of base dataframe before merging with f354_test: (369301, 346)
Shape of base dataframe after merging with f354_test: (369301, 349)

Processing f359to366_test...
Shape of f359to366_test before dropping 'id2': (369301, 9)
Shape of f359to366_test after dropping 'id2': (369301, 8)
Shape of base dataframe before merging with f359to366_test: (369301, 349)
Shape of base dataframe after merging with f359to366_test: (369301, 357)

Processing f347_348_358_test...
Shape of f347_348_358_test before dropping 'id3': (369301, 4)
Shape of f347_348_358_test after dropping 'id3': (369301, 3)
Shape of base dataframe before merging with f347_348_358_test: (369301, 357)
Shape of base dataframe after merging with f347_348_358_test: (369301, 360)

Processing f349_350_test...
Shape of f349_350_test before dropping 'id4': (369301, 9)
Shape of f349_350_test after dropping 'id4': (369301, 8)
Shape of base dataframe before merging with f349_350_test: (369301, 360)
Shape of base dataframe after merging with f349_350_test: (369301, 368)

Final merged dataframe name: f1to366_test
Final shape of f1to366_test: (369301, 368)

Columns in f1to366_test:
['id2', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f18', 'f22', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f43', 'f44', 'f45', 'f46', 'f47', 'f49', 'f51', 'f42_G', 'f42_P', 'f42_R', 'f42_S', 'f48_1.0', 'f48_2.0', 'f48_3.0', 'f48_4.0', 'f50_N', 'f50_Y', 'f52_N', 'f52_Y', 'f53_NN', 'f53_NY', 'f54_A', 'f54_C', 'f54_D', 'f54_E', 'f54_F', 'f54_Other', 'f55_-', 'f55_A', 'f55_C', 'f55_D', 'f55_H', 'f55_I', 'f55_M', 'f55_Other', 'f55_T', 'f55_W', 'f56_B', 'f56_D', 'f56_G', 'f56_S', 'f57_A', 'f57_H', 'f57_Other', 'f57_P', 'f58', 'f59', 'f60', 'f61', 'f63', 'f64', 'f65', 'f67', 'f68', 'f69', 'f70', 'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f89', 'f90', 'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118', 'f119', 'f121', 'f123', 'f124', 'f125', 'f126', 'f127', 'f130', 'f131', 'f132', 'f133', 'f134', 'f137', 'f138', 'f139', 'f140', 'f141', 'f142', 'f143', 'f146', 'f147', 'f148', 'f149', 'f150', 'f151', 'f152', 'f153', 'f154', 'f155', 'f156', 'f157', 'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166', 'f167', 'f168', 'f169', 'f170', 'f171', 'f172', 'f173', 'f174', 'f175', 'f176', 'f177', 'f178', 'f179', 'f180', 'f181', 'f182', 'f183', 'f184', 'f185', 'f186', 'f187', 'f188', 'f189', 'f190', 'f191', 'f192', 'f193', 'f194', 'f195', 'f196', 'f197', 'f198', 'f199', 'f200', 'f201', 'f202', 'f203', 'f204', 'f205', 'f206', 'f207', 'f208', 'f209', 'f210', 'f211', 'f212', 'f213', 'f214', 'f215', 'f216', 'f217', 'f218', 'f219', 'f220', 'f221', 'f222', 'f223', 'f224', 'f225', 'f226', 'f227', 'f228', 'f229', 'f230', 'f231', 'f232', 'f233', 'f234', 'f235', 'f236', 'f237', 'f238', 'f239', 'f240', 'f241', 'f242', 'f243', 'f244', 'f245', 'f246', 'f247', 'f248', 'f249', 'f250', 'f251', 'f252', 'f253', 'f254', 'f255', 'f256', 'f257', 'f258', 'f259', 'f260', 'f261', 'f262', 'f263', 'f264', 'f265', 'f266', 'f267', 'f268', 'f269', 'f270', 'f271', 'f272', 'f273', 'f274', 'f275', 'f276', 'f277', 'f278', 'f279', 'f280', 'f281', 'f282', 'f283', 'f284', 'f285', 'f286', 'f287', 'f288', 'f289', 'f290', 'f291', 'f292', 'f293', 'f294', 'f295', 'f296', 'f297', 'f298', 'f299', 'f300', 'f301', 'f302', 'f303', 'f304', 'f305', 'f306', 'f307', 'f308', 'f309', 'missing_offer_meta', 'f310', 'f311', 'f312', 'f313', 'f314', 'f315', 'f316', 'f317', 'f318', 'f319', 'f320', 'f321', 'f322', 'f323', 'f324', 'f325', 'f326', 'f327', 'f328', 'f329_to_f331_median', 'f341_to_f343_median', 'f344', 'f345', 'f346', 'f351', 'f352', 'f353', 'f355', 'f356', 'f357', 'f354_Phase_1', 'f354_Rest', 'f354_nan', 'f359', 'f360', 'f361', 'f362', 'f363', 'f364', 'f365', 'f366', 'f347', 'f348', 'f358', 'f349_1', 'f349_2', 'f349_3', 'f349_4', 'f349_5', 'f349_6', 'f349_7', 'f350_scaled']

In [35]:
# Calculate the null percentage for each column in f1to366_test
f1to366_test_null_percentage = f1to366_test.isnull().sum() / len(f1to366_test) * 100

# Check for columns with null percentage greater than 0
f1to366_test_columns_with_nulls = f1to366_test_null_percentage[f1to366_test_null_percentage > 0]

# Display the result
if not f1to366_test_columns_with_nulls.empty:
    print("Columns in f1to366_test with null percentage greater than 0:")
    print(f1to366_test_columns_with_nulls)
else:
    print("No columns in f1to366_test have a null percentage greater than 0.")

No columns in f1to366_test have a null percentage greater than 0.

In [36]:
import pandas as pd

# Load f332to334_test_processed.parquet
f332to334_test = pd.read_parquet('/content/drive/MyDrive/Transformed_Test_Data/f332to334_test_processed.parquet')
loaded_test_dataframes['f332to334_test'] = f332to334_test

print("Loaded /content/drive/MyDrive/Transformed_Test_Data/f332to334_test_processed.parquet as f332to334_test")
print("\nUpdated list of loaded test dataframes:")
for df_name in loaded_test_dataframes.keys():
    print(df_name)

Loaded /content/drive/MyDrive/Transformed_Test_Data/f332to334_test_processed.parquet as f332to334_test

Updated list of loaded test dataframes:
f310tof314_test
f315tof319_test
f320tof324_test
f325to328_test
f329to331_test
f341to343_test
f344to346_test
f351to357_test
f354_test
f359to366_test
f347_348_358_test
f349_350_test
f332to334_test

In [37]:
# Calculate the null percentage for each column in f332to334_test
f332to334_test_null_percentage = f332to334_test.isnull().sum() / len(f332to334_test) * 100

# Display the null percentages
print("Null percentage for each column in f332to334_test:")
print(f332to334_test_null_percentage)

Null percentage for each column in f332to334_test:
id2     0.000000
f332    0.002166
f333    0.002166
f334    0.002166
dtype: float64

In [39]:
import pandas as pd

# Load the dataframe
test_data_f336to340 = pd.read_parquet('/content/drive/MyDrive/Transformed_Test_Data/test_data_f336to340_imputed.parquet')

# Identify columns to keep
columns_to_keep_test = ['id2'] + [f'f{i}' for i in range(336, 341)]

# Drop columns not in the list of columns to keep
columns_to_drop_test = [col for col in test_data_f336to340.columns if col not in columns_to_keep_test]
f336to340_test = test_data_f336to340.drop(columns=columns_to_drop_test)

# Display the shape of the processed dataframe
print("Shape of f336to340_test after dropping columns:", f336to340_test.shape)

# Display the first few rows of the processed dataframe
print("\nFirst 5 rows of f336to340_test:")
print(f336to340_test.head())

# Calculate the null percentage for each column in f336to340_test
f336to340_test_null_percentage = f336to340_test.isnull().sum() / len(f336to340_test) * 100

# Display the null percentages
print("\nNull percentage for each column in f336to340_test:")
print(f336to340_test_null_percentage)

Shape of f336to340_test after dropping columns: (369301, 6)

First 5 rows of f336to340_test:
       id2      f336      f337      f338      f339      f340
0  1362907  0.100046  0.102937  0.118493  0.101139  0.086735
1  1082599  0.032116  0.030006  0.025933  0.021734  0.016948
2  1888466  0.096774  0.181452  0.248292  0.243557  0.262582
3  1888971  0.111673  0.125265  0.108934  0.096955  0.089686
4  1256369  0.082053  0.082158  0.074100  0.066265  0.058614

Null percentage for each column in f336to340_test:
id2     0.0
f336    0.0
f337    0.0
f338    0.0
f339    0.0
f340    0.0
dtype: float64

In [41]:
# Create a copy to avoid modifying the original dataframe in place if needed later
f332to334_test_imputed = f332to334_test.copy()

# Identify columns for imputation
columns_to_impute_test = ['f332', 'f333', 'f334']

# Calculate global medians for fallback
global_medians_test = f332to334_test_imputed[columns_to_impute_test].median()

# Impute null values for each column
for col in columns_to_impute_test:
    # Fill with group median first
    f332to334_test_imputed[col] = f332to334_test_imputed.groupby('id2')[col].transform(lambda x: x.fillna(x.median()))

    # Fill remaining nulls with global median
    f332to334_test_imputed[col].fillna(global_medians_test[col], inplace=True)

# Assign the imputed dataframe back to f332to334_test (as requested)
f332to334_test = f332to334_test_imputed

# Display the null percentage after imputation
print("Null percentage for each column in f332to334_test after imputation:")
print(f332to334_test.isnull().sum() / len(f332to334_test) * 100)

# Display the first few rows of the imputed dataframe
print("\nFirst 5 rows of the imputed f332to334_test dataframe:")
print(f332to334_test.head())

Null percentage for each column in f332to334_test after imputation:
id2     0.0
f332    0.0
f333    0.0
f334    0.0
dtype: float64

First 5 rows of the imputed f332to334_test dataframe:
       id2  f332  f333  f334
0  1362907   1.0   0.0   0.0
1  1082599   0.0   1.0   0.0
2  1888466   1.0   0.0   0.0
3  1888971   1.0   0.0   0.0
4  1256369   1.0   0.0   0.0

In [42]:
# Drop 'id2' from f336to340_test
f336to340_test_dropped_id2 = f336to340_test.drop('id2', axis=1)
print("Shape of f336to340_test after dropping 'id2':", f336to340_test_dropped_id2.shape)

# Drop 'id2' from f332to334_test
f332to334_test_dropped_id2 = f332to334_test.drop('id2', axis=1)
print("Shape of f332to334_test after dropping 'id2':", f332to334_test_dropped_id2.shape)

# Reset index for merging without index
f1to366_test_reset = f1to366_test.reset_index(drop=True)
f336to340_test_reset = f336to340_test_dropped_id2.reset_index(drop=True)
f332to334_test_reset = f332to334_test_dropped_id2.reset_index(drop=True)

print(f"\nShape of f1to366_test after index reset: {f1to366_test_reset.shape}")
print(f"Shape of f336to340_test after index reset: {f336to340_test_reset.shape}")
print(f"Shape of f332to334_test after index reset: {f332to334_test_reset.shape}")


# Merge f1to366_test and f336to340_test
print("\nMerging f1to366_test and f336to340_test...")
print(f"Shape of f1to366_test before merging: {f1to366_test_reset.shape}")
print(f"Shape of f336to340_test before merging: {f336to340_test_reset.shape}")
merged_f1to366_f336to340 = pd.concat([f1to366_test_reset, f336to340_test_reset], axis=1)
print(f"Shape after merging f1to366_test and f336to340_test: {merged_f1to366_f336to340.shape}")

# Merge the result with f332to334_test
print("\nMerging with f332to334_test...")
print(f"Shape before merging with f332to334_test: {merged_f1to366_f336to340.shape}")
print(f"Shape of f332to334_test before merging: {f332to334_test_reset.shape}")
final_test = pd.concat([merged_f1to366_f336to340, f332to334_test_reset], axis=1)
print(f"Shape of final_test after merging: {final_test.shape}")

# Name the final dataframe
# The dataframe is already named final_test by assignment

print("\nFinal dataframe named: final_test")

Shape of f336to340_test after dropping 'id2': (369301, 5)
Shape of f332to334_test after dropping 'id2': (369301, 3)

Shape of f1to366_test after index reset: (369301, 368)
Shape of f336to340_test after index reset: (369301, 5)
Shape of f332to334_test after index reset: (369301, 3)

Merging f1to366_test and f336to340_test...
Shape of f1to366_test before merging: (369301, 368)
Shape of f336to340_test before merging: (369301, 5)
Shape after merging f1to366_test and f336to340_test: (369301, 373)

Merging with f332to334_test...
Shape before merging with f332to334_test: (369301, 373)
Shape of f332to334_test before merging: (369301, 3)
Shape of final_test after merging: (369301, 376)

Final dataframe named: final_test

In [43]:
# Get the list of column names from the final_test dataframe
final_test_columns = final_test.columns.tolist()

# Display the list of columns in a convenient format
print("Columns in final_test:")
print(final_test_columns)

Columns in final_test:
['id2', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f18', 'f22', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40', 'f41', 'f43', 'f44', 'f45', 'f46', 'f47', 'f49', 'f51', 'f42_G', 'f42_P', 'f42_R', 'f42_S', 'f48_1.0', 'f48_2.0', 'f48_3.0', 'f48_4.0', 'f50_N', 'f50_Y', 'f52_N', 'f52_Y', 'f53_NN', 'f53_NY', 'f54_A', 'f54_C', 'f54_D', 'f54_E', 'f54_F', 'f54_Other', 'f55_-', 'f55_A', 'f55_C', 'f55_D', 'f55_H', 'f55_I', 'f55_M', 'f55_Other', 'f55_T', 'f55_W', 'f56_B', 'f56_D', 'f56_G', 'f56_S', 'f57_A', 'f57_H', 'f57_Other', 'f57_P', 'f58', 'f59', 'f60', 'f61', 'f63', 'f64', 'f65', 'f67', 'f68', 'f69', 'f70', 'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f89', 'f90', 'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99', 'f100', 'f101', 'f103', 'f104', 'f105', 'f106', 'f107', 'f108', 'f109', 'f110', 'f111', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118', 'f119', 'f121', 'f123', 'f124', 'f125', 'f126', 'f127', 'f130', 'f131', 'f132', 'f133', 'f134', 'f137', 'f138', 'f139', 'f140', 'f141', 'f142', 'f143', 'f146', 'f147', 'f148', 'f149', 'f150', 'f151', 'f152', 'f153', 'f154', 'f155', 'f156', 'f157', 'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166', 'f167', 'f168', 'f169', 'f170', 'f171', 'f172', 'f173', 'f174', 'f175', 'f176', 'f177', 'f178', 'f179', 'f180', 'f181', 'f182', 'f183', 'f184', 'f185', 'f186', 'f187', 'f188', 'f189', 'f190', 'f191', 'f192', 'f193', 'f194', 'f195', 'f196', 'f197', 'f198', 'f199', 'f200', 'f201', 'f202', 'f203', 'f204', 'f205', 'f206', 'f207', 'f208', 'f209', 'f210', 'f211', 'f212', 'f213', 'f214', 'f215', 'f216', 'f217', 'f218', 'f219', 'f220', 'f221', 'f222', 'f223', 'f224', 'f225', 'f226', 'f227', 'f228', 'f229', 'f230', 'f231', 'f232', 'f233', 'f234', 'f235', 'f236', 'f237', 'f238', 'f239', 'f240', 'f241', 'f242', 'f243', 'f244', 'f245', 'f246', 'f247', 'f248', 'f249', 'f250', 'f251', 'f252', 'f253', 'f254', 'f255', 'f256', 'f257', 'f258', 'f259', 'f260', 'f261', 'f262', 'f263', 'f264', 'f265', 'f266', 'f267', 'f268', 'f269', 'f270', 'f271', 'f272', 'f273', 'f274', 'f275', 'f276', 'f277', 'f278', 'f279', 'f280', 'f281', 'f282', 'f283', 'f284', 'f285', 'f286', 'f287', 'f288', 'f289', 'f290', 'f291', 'f292', 'f293', 'f294', 'f295', 'f296', 'f297', 'f298', 'f299', 'f300', 'f301', 'f302', 'f303', 'f304', 'f305', 'f306', 'f307', 'f308', 'f309', 'missing_offer_meta', 'f310', 'f311', 'f312', 'f313', 'f314', 'f315', 'f316', 'f317', 'f318', 'f319', 'f320', 'f321', 'f322', 'f323', 'f324', 'f325', 'f326', 'f327', 'f328', 'f329_to_f331_median', 'f341_to_f343_median', 'f344', 'f345', 'f346', 'f351', 'f352', 'f353', 'f355', 'f356', 'f357', 'f354_Phase_1', 'f354_Rest', 'f354_nan', 'f359', 'f360', 'f361', 'f362', 'f363', 'f364', 'f365', 'f366', 'f347', 'f348', 'f358', 'f349_1', 'f349_2', 'f349_3', 'f349_4', 'f349_5', 'f349_6', 'f349_7', 'f350_scaled', 'f336', 'f337', 'f338', 'f339', 'f340', 'f332', 'f333', 'f334']

In [44]:
# Calculate the null percentage for each column in final_test
final_test_null_percentage = final_test.isnull().sum() / len(final_test) * 100

# Check for columns with null percentage greater than 0
final_test_columns_with_nulls = final_test_null_percentage[final_test_null_percentage > 0]

# Display the result
if not final_test_columns_with_nulls.empty:
    print("Columns in final_test with null percentage greater than 0:")
    print(final_test_columns_with_nulls)
else:
    print("No columns in final_test have a null percentage greater than 0.")

No columns in final_test have a null percentage greater than 0.

In [45]:
# Define the directory path and filename
save_directory = '/content/drive/MyDrive/AMEXChallenge'
file_name = 'final_test.parquet'
save_path = f"{save_directory}/{file_name}"

# Create the directory if it doesn't exist
import os
os.makedirs(save_directory, exist_ok=True)

# Save the dataframe to a Parquet file
final_test.to_parquet(save_path, index=False)

print(f"DataFrame saved successfully to: {save_path}")

DataFrame saved successfully to: /content/drive/MyDrive/AMEXChallenge/final_test.parquet

In [46]:
# Delete variables storing loaded dataframes
variables_to_delete = [
    'final_train',
    'final_test',
    'loaded_test_dataframes',
    'f42to57_test',
    'f58to309_test',
    'f1to41_test',
    'f332to334_test',
    'f336to340_test',
    'f1to309_test',
    'f1to331_test',
    'f1to366_test'
]

for var_name in variables_to_delete:
    if var_name in globals():
        del globals()[var_name]
        print(f"Deleted: {var_name}")

import gc
gc.collect()
print("\nGarbage collection complete.")

Deleted: final_train
Deleted: final_test
Deleted: loaded_test_dataframes
Deleted: f42to57_test
Deleted: f58to309_test
Deleted: f1to41_test
Deleted: f332to334_test
Deleted: f336to340_test
Deleted: f1to309_test
Deleted: f1to331_test
Deleted: f1to366_test

Garbage collection complete.